Source: shadowvpn
Section: unknown
Priority: extra
Maintainer: mark <cqcq233@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/shadowvpn.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/shadowvpn.git;a=summary

Package: shadowvpn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
